extends _mainAjax

block head
    - var headData = {title: "Каталог"}
    - var footer = true

    link(href="%=static=%css/separate-css/slick.css", rel="stylesheet", type="text/css")

block contentContent
    .slider-catalog-item
        -for(var i=0;i<6;i++)
            .slider-catalog-item__section
                .hidden-lg-up
                    br
                    .item-title-mobile
                        .item-title-mobile__cell: button.slider-catalog-item__btn.slider-catalog-item__btn_prev: +icon('arrowPrev')
                        .item-title-mobile__cell Террасная доска #[br]Pro-Decking Exclusiv
                        .item-title-mobile__cell: button.slider-catalog-item__btn.slider-catalog-item__btn_next: +icon('arrowNext')
                br
                .row
                    .col-xs-12.col-lg-4
                        //.youtube-link-block
                        .hidden-md-down
                            a(href="#").youtube-link.not-styleLink.color-black
                                span.youtube-link__cell.youtube-link__cell_icon: i.s-youtube
                                span.youtube-link__cell: span.color-black__title.color-black__title_dashed.color-black__title_viewBorder Все преимущества доски в одном видео
                            br
                            br
                        .item-slider.padding-mobile
                            .item-slider__main
                                .item-slider__main-section: img(src='http://tehnosotka.ru/content/Image/gallery/27866/1_1487251805.jpg')
                                .item-slider__main-section: img(src='http://dic.academic.ru/pictures/wiki/files/100/deking.jpg')
                                .item-slider__main-section: img(src='http://static1.abitant.com/uploads/product_image/147/4858/terrasnaya_doska_zhidkoe_derevo_rf_2016_lwt_11_2_large.jpg')
                                .item-slider__main-section: img(src='http://deckland.biz/files/vid_3h4_gladkoe_tisnenie.jpg')
                                .item-slider__main-section: img(src='https://refloor-nsk.ru/upload/iblock/543/5438dac0a7998184c5649f0758be7288.jpg')
                            br
                            .item-slider__preview
                                .item-slider__preview-section: span: span: img(src='http://tehnosotka.ru/content/Image/gallery/27866/1_1487251805.jpg')
                                .item-slider__preview-section: span: span: img(src='http://dic.academic.ru/pictures/wiki/files/100/deking.jpg')
                                .item-slider__preview-section: span: span: img(src='http://static1.abitant.com/uploads/product_image/147/4858/terrasnaya_doska_zhidkoe_derevo_rf_2016_lwt_11_2_large.jpg')
                                .item-slider__preview-section: span: span: img(src='http://deckland.biz/files/vid_3h4_gladkoe_tisnenie.jpg')
                                .item-slider__preview-section: span: span: img(src='https://refloor-nsk.ru/upload/iblock/543/5438dac0a7998184c5649f0758be7288.jpg')

                    .col-xs-12.col-lg-3.col-lg-push-5
                        br
                        .item-price-block.padding-mobile
                            span.item-price.dib.dib_middle 1 700 #[span.dib.item-price__unit: i.s-rub]
                            br.hidden-md-down
                            span.hidden-lg-up &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                            button.btn.btn-orange.dib.dib_middle(data-toggle='popup', data-block='#callback-dosc') Заказать доску
                        .hidden-md-down
                            br
                            br
                        .padding-mobile
                            p.item-trigger.text-center Есть возможность сэкономить — #[br.hidden-md-down] #[a(href='#').not-styleLink.color-black: span.color-black__title.color-black__title_viewBorder узнай как!]
                        .hidden-lg-up
                            a(href="#").youtube-link.youtube-link_bg.not-styleLink.color-white.padding-mobile
                                span.youtube-link__cell.youtube-link__cell_icon: i.s-youtube
                                span.youtube-link__cell: span.color-white__title.color-white__title_dashed.color-white__title_viewBorder Все преимущества доски в одном видео

                    .col-xs-12.col-lg-5.col-lg-pull-3
                        h1.item-title.hidden-md-down Террасная доска Pro-Decking Exclusiv
                        .hidden-lg-up
                            br
                        .padding-mobile
                            .item-features-IScroll.IScroll.IScroll_notMobile: div
                                p.item-features-title.text-center.hidden-lg-up Описание и характеристики
                                p.item-text Наш выбор в сегменте «Эконом». #[br]Экономия достигается благодаря уменьшению#[br.hidden-lg-up] толщины профиля.
                                ul.item-features
                                    li.item-features__row
                                        span.item-features__cell.item-features__cell_title Размер
                                        span.item-features__cell 160х25х3000, 4000, 6000
                                    li.item-features__row
                                        span.item-features__cell.item-features__cell_title Продольный шов между досками
                                        span.item-features__cell 5 мм
                                    li.item-features__row
                                        span.item-features__cell.item-features__cell_title Расстояние между лагами
                                        span.item-features__cell 400 мм
                                    li.item-features__row
                                        span.item-features__cell.item-features__cell_title Средний расход клемм м.кв.
                                        span.item-features__cell 24 шт.
                                    li.item-features__row
                                        span.item-features__cell.item-features__cell_title Тип доски
                                        span.item-features__cell Односторонняя, вельвет
                                    li.item-features__row
                                        span.item-features__cell.item-features__cell_title Размер
                                        span.item-features__cell 160х25х3000, 4000, 6000
                                    li.item-features__row
                                        span.item-features__cell.item-features__cell_title Продольный шов между досками
                                        span.item-features__cell 5 мм
                                    li.item-features__row
                                        span.item-features__cell.item-features__cell_title Расстояние между лагами
                                        span.item-features__cell 400 мм
                                    li.item-features__row
                                        span.item-features__cell.item-features__cell_title Средний расход клемм м.кв.
                                        span.item-features__cell 24 шт.
                                    li.item-features__row
                                        span.item-features__cell.item-features__cell_title Тип доски
                                        span.item-features__cell Односторонняя, вельвет
                br
                .padding-mobile
                    button.item-components-toggle.color-white.hidden-lg-up
                        b.color-white__title.color-white__title_dashed.color-white__title_viewBorder Комплектующие к этой доске
                        |&nbsp;&nbsp;&nbsp;&nbsp;
                        i.s-toggle-white

                    .item-components
                        .item-components__table
                            .item-components__table-cell.hidden-md-down: span.item-components__title Комплектующие к этой террасной доске:
                            .item-components__table-cell
                                .item-components__list.not-styleLink
                                    a(href='#', data-toggle="popover", data-placement="bottom", data-content='<span class="db popover-content__title"><a href="#" class="not-styleLink popover-content__clear"><i class="s-clear"></i></a><b>Угловые элементы</b></span><span>Предназначен для окантовки террасы и ступеней по периметру. Угловой профиль помогает скрыть неровности обрезки террасной доски, начальные и конечные клеммы, закрыть внутренние отверстия в террасной доске, а так же служит защитой от механических воздействий на краях террасы и ступеней.</span><a href="#" class="color-white not-styleLink"><br><br><spna class="color-white__title color-white__title_viewBorder">Подробнее</spna></a>').item-components__list-section: +img('content/item-components/1', 'png')
                                    a(href='#', data-toggle="popover", data-placement="bottom", data-content='<span class="db popover-content__title"><a href="#" class="not-styleLink popover-content__clear"><i class="s-clear"></i></a><b>Угловые элементы</b></span><span>Предназначен для окантовки террасы и ступеней по периметру. Угловой профиль помогает скрыть неровности обрезки террасной доски, начальные и конечные клеммы, закрыть внутренние отверстия в террасной доске, а так же служит защитой от механических воздействий на краях террасы и ступеней.</span><a href="#" class="color-white not-styleLink"><br><br><spna class="color-white__title color-white__title_viewBorder">Подробнее</spna></a>').item-components__list-section: +img('content/item-components/2', 'png')
                                    a(href='#', data-toggle="popover", data-placement="bottom", data-content='<span class="db popover-content__title"><a href="#" class="not-styleLink popover-content__clear"><i class="s-clear"></i></a><b>Угловые элементы</b></span><span>Предназначен для окантовки террасы и ступеней по периметру. Угловой профиль помогает скрыть неровности обрезки террасной доски, начальные и конечные клеммы, закрыть внутренние отверстия в террасной доске, а так же служит защитой от механических воздействий на краях террасы и ступеней.</span><a href="#" class="color-white not-styleLink"><br><br><spna class="color-white__title color-white__title_viewBorder">Подробнее</spna></a>').item-components__list-section: +img('content/item-components/3', 'png')
                                    a(href='#', data-toggle="popover", data-placement="bottom", data-content='<span class="db popover-content__title"><a href="#" class="not-styleLink popover-content__clear"><i class="s-clear"></i></a><b>Угловые элементы</b></span><span>Предназначен для окантовки террасы и ступеней по периметру. Угловой профиль помогает скрыть неровности обрезки террасной доски, начальные и конечные клеммы, закрыть внутренние отверстия в террасной доске, а так же служит защитой от механических воздействий на краях террасы и ступеней.</span><a href="#" class="color-white not-styleLink"><br><br><spna class="color-white__title color-white__title_viewBorder">Подробнее</spna></a>').item-components__list-section: +img('content/item-components/4', 'png')
                                    a(href='#', data-toggle="popover", data-placement="bottom", data-content='<span class="db popover-content__title"><a href="#" class="not-styleLink popover-content__clear"><i class="s-clear"></i></a><b>Угловые элементы</b></span><span>Предназначен для окантовки террасы и ступеней по периметру. Угловой профиль помогает скрыть неровности обрезки террасной доски, начальные и конечные клеммы, закрыть внутренние отверстия в террасной доске, а так же служит защитой от механических воздействий на краях террасы и ступеней.</span><a href="#" class="color-white not-styleLink"><br><br><spna class="color-white__title color-white__title_viewBorder">Подробнее</spna></a>').item-components__list-section: +img('content/item-components/5', 'png')
                                    a(href='#', data-toggle="popover", data-placement="bottom", data-content='<span class="db popover-content__title"><a href="#" class="not-styleLink popover-content__clear"><i class="s-clear"></i></a><b>Угловые элементы</b></span><span>Предназначен для окантовки террасы и ступеней по периметру. Угловой профиль помогает скрыть неровности обрезки террасной доски, начальные и конечные клеммы, закрыть внутренние отверстия в террасной доске, а так же служит защитой от механических воздействий на краях террасы и ступеней.</span><a href="#" class="color-white not-styleLink"><br><br><spna class="color-white__title color-white__title_viewBorder">Подробнее</spna></a>').item-components__list-section: +img('content/item-components/6', 'png')
                                    a(href='#', data-toggle="popover", data-placement="bottom", data-content='<span class="db popover-content__title"><a href="#" class="not-styleLink popover-content__clear"><i class="s-clear"></i></a><b>Угловые элементы</b></span><span>Предназначен для окантовки террасы и ступеней по периметру. Угловой профиль помогает скрыть неровности обрезки террасной доски, начальные и конечные клеммы, закрыть внутренние отверстия в террасной доске, а так же служит защитой от механических воздействий на краях террасы и ступеней.</span><a href="#" class="color-white not-styleLink"><br><br><spna class="color-white__title color-white__title_viewBorder">Подробнее</spna></a>').item-components__list-section: +img('content/item-components/7', 'png')

    br
    .item__list.not-styleLink.hidden-md-down
        -for(var i=0;i<6;i++)
            .item__list-section
                a(href="#").item-product.text-center
                    span.db.item-product__img: span: +img('content/item-product/1', 'png')
                    span.db.item-product__title Pro-Decking Exclusiv
                    span.db.item-product__price: b 1 700 руб./м#[sup 2]
                    span.item-product__btn Заказать
    .text-center
        a(href="#", onclick="getContent('./about.html', {animation: 11})").dib.color-grey.not-styleLink
            span.color-grey__title.color-grey__title_dashed.color-grey__title_viewBorder Полезная информация о террасной доске
            span.db: i.s-arrow-bottom

block script
    script(src="%=static=%js/separate-js/tooltip.js" type="text/javascript")
    script(src="%=static=%js/separate-js/popover.js" type="text/javascript")
    script(src="%=static=%js/separate-js/iscroll.js" type="text/javascript")
    script(src="%=static=%js/separate-js/slick.min.js" type="text/javascript")
    script(src="%=static=%js/separate-js/jquery.magnific-popup.min.js" type="text/javascript")
