extends _mainAjax

block head
    - var headData = {title: "Выполненные объекты"}

block contentContent
    br
    h1.object__title Выполненные объекты

    .object.not-styleLink.magnificPopup
        .grid-sizer
        .gutter-sizer
        a.object-item.col-1.row-2.color-white(style="background-image: url('%=static=%img/content/object/1.jpg');", href='%=static=%img/content/object/1.jpg')
            span.db.object-item__content
                span.db.object-item__content-desc
                    span.db.object-item__title: b.color-white__title Спортивный комплекс СоколФит
                    span.db.object-item__titleSub Челябинск

                    span.db.object-item__hidden
                        br
                        span.db.object-item__btn Смотреть объект


        a.object-item.col-1.color-white(style="background-image: url('%=static=%img/content/object/2.jpg');", href='%=static=%img/content/object/2.jpg')
            span.db.object-item__content
                span.db.object-item__content-desc
                    span.db.object-item__title: b.color-white__title Спортивный комплекс СоколФит
                    span.db.object-item__titleSub Челябинск

                    span.db.object-item__hidden
                        br
                        span.db.object-item__btn Смотреть объект
        a.object-item.col-1.row-2.color-white(style="background-image: url('%=static=%img/content/object/3.jpg');", href='%=static=%img/content/object/3.jpg')
            span.db.object-item__content
                span.db.object-item__content-desc
                    span.db.object-item__title: b.color-white__title Спортивный комплекс СоколФит
                    span.db.object-item__titleSub Челябинск

                    span.db.object-item__hidden
                        br
                        span.db.object-item__btn Смотреть объект
        a.object-item.col-1.color-white(style="background-image: url('%=static=%img/content/object/4.jpg');", href='%=static=%img/content/object/4.jpg')
            span.db.object-item__content
                span.db.object-item__content-desc
                    span.db.object-item__title: b.color-white__title Спортивный комплекс СоколФит
                    span.db.object-item__titleSub Челябинск

                    span.db.object-item__hidden
                        br
                        span.db.object-item__btn Смотреть объект

    .text-center
        .dib
            a(href='#').not-styleLink: span.btn-border Смотреть ещё объекты &nbsp; #[i.s-reload]
            | &nbsp;&nbsp;&nbsp;&nbsp;
            b.color-orange.text-big 94 шт.
    br
block script
    script(src="%=static=%js/separate-js/imagesloaded.pkgd.min.js" type="text/javascript")
    script(src="%=static=%js/separate-js/Masonry.js" type="text/javascript")

