/* Your custom fonts here */
@import "libraries/bourbon/bourbon";

// Example
//https://edgewebfonts.adobe.com/help#using-fonts-in-css
// 100 -> Thin, Hairline
// 200 -> Extra Light
// 300 -> Light
// 400 -> Normal, Book
// 500 -> Medium
// 600 -> Semibold, Demibold
// 700 -> Bold
// 800 -> Heavy, Extra Bold
// 900 -> Black

@include font-face("PFAgoraSansPro", "../fonts/PFAgoraSansPro/ofont.ru_pf_agora_sans_pro-webfont", $file-formats: woff woff2){
  font-style: normal;
  font-weight: 400;
};
@include font-face("PFAgoraSansPro", "../fonts/PFAgoraSansPro/pfagorasanspro-light-webfont", $file-formats: woff woff2){
  font-style: normal;
  font-weight: 300;
};
@include font-face("PFAgoraSansPro", "../fonts/PFAgoraSansPro/pfagorasanspro-medium-webfont", $file-formats: woff woff2){
  font-style: normal;
  font-weight: 500;
};

@include font-face("PT Sans", "../fonts/ptSans/pts75f_w_0-webfont", $file-formats: woff woff2){
  font-style: normal;
  font-weight: 400;
};

