mixin footer(data)
    .footer.not-styleLink
        .container
            .row
                .col-md-6.col-xs-12
                    span Поставка декинга Российского и Германского производства по УРФО: #[br] в Челябинске, Екатеринбурге, Оренбурге и Кургане.
                .col-md-6.col-xs-12
                    .hidden-md-up
                        br
                        br
                    .footer__copyright
                        a(href="#").copyright.text-left
                            span.copyright__cell Разработка #[br.hidden-sm-down] и продвижение сайта —
                            span.copyright__cell
                                span.copyright__label ИНСАЙТ




























